.home2_container {
    width:1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home2_left {
    width: 70%;
    height: 400px;
    float:left;
}

.home2_right {
    width:30%;
    height: 400px;
    background-color: black;
    float:left;
}

.home2_profileImg {
    width:75px;
    height: 75px;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
}

.home2_info {
    float: left;
    margin-left: 30px;
    margin-top:35px;    
}

.home2_name {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:gray;
    margin:0px;
    
}

.home2_hour {
    margin:0px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkgray;
}

.home2_bottom {
    
    margin-left: 30px;
    clear:both;
    float: none;
}

.home2_title {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home2_view {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
}

.home2_rightImg {
    width: 100%;
    height: 100%;
}

.navbar li{
   display:inline-block;
   width:80px;
   text-align: center;
   background-color: #eee;
   padding: 10px;
   border-radius: 5px;
   margin-left:5px;
   margin-right: 5px;
}

.navbar a {
    font-size: 20px;
    text-decoration: none;
}






